body {
  background-color: #f8f8f8;
}

#main {
  display: flex;
}

#chart {
  padding: 30px;
  width: 1170px;
  height: 570px;
}

.hidden {
  display: none!important;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

ul {
  list-style: none;
  padding: 0;
}

#filters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filters ul {
  width: 50px;
}

#filters li {
  display: flex;
  justify-content: space-between;
}

#filters button {
  height: 40px;
}

#span-filter-container {
  margin: 12px;
}

.span-filter {
  background: lightsteelblue;
  opacity: 0.9;
  padding: 2px;
  border-radius: 2px;
  margin: 2px;
  font-size: 14px;
  cursor: pointer;
}

#chart-wrapper i {
  display: none;
  font-size: 20px;
  padding: 3px;
  border: 1px solid lightgrey;
  cursor: pointer;
}

#chart-wrapper:hover i {
  display: inline;
  position: relative;
  bottom: 600px;
  right: 30px;
}
