html, header {
  padding: 0;
  margin: 0;
}

body {
  background-color: #f8f8f8;
  height: calc(100vh - 10px);
  width: calc(100vw - 10px);
  padding: 5px;
  margin: 0;
}

#main {
  display: flex;
}

#sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
}

#sidebar span {
  margin-bottom: 10px;
}

#sidebar section {
  margin: 10px 0;
}

#attrSelectorForms ul {
  margin: 10px 30px;
}

#attrSelectorForms li {
  display: flex;
  justify-content: space-between;
}

#pos-filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#year-filters {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.posFilter {
  margin-right: 15px;
}

.expander {
  cursor: pointer;
}

#chart {
  padding: 30px;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none!important;
}

div.tooltip {
  position: absolute;
  text-align: center;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}

.tooltip p {
  margin: 4px 0;
}

ul {
  list-style: none;
  padding: 0;
}

#filters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#filters ul {
  width: 50px;
}

#filters li {
  display: flex;
  justify-content: space-between;
}

#filters button {
  height: 40px;
}

#span-filter-container {
  margin: 12px;
}

.span-filter {
  background: lightsteelblue;
  opacity: 0.9;
  padding: 2px;
  border-radius: 2px;
  margin: 2px;
  font-size: 14px;
  cursor: pointer;
}

#chart-container i {
  display: none;
  font-size: 20px;
  padding: 3px;
  border: 1px solid lightgrey;
  cursor: pointer;
}

#chart-container i.pinned, #chart-container:hover i {
  display: inline;
  position: absolute;
  left: 230px;
  top: 100px;
}

#chart-container i.pinned {
  color: lightblue;
  border-color: lightblue;
}

.full-page {
  width: 100vw;
  height: 100vh;
}
